<%= render partial: "/layouts/navbar" %>

<div class="row introrow">
	<div class="introname"><h1>I'm Cheah How.</h1></div>
	<div class="introname"><h3>a junior full-stack web developer.</h3></div>
	<div class="introname"><h5>from.</h5></div>
	<div class="introname"><h3>NEXT ACADEMY</h3></div>
</div>

<div class="row intropicture">
	<div class="container">
		<div class="backgroundsection"><%= image_tag("community",class:"background")%></div>
	</div>
</div>

<div class="row about">
	<div class="container">
		<div class="aboutsection"><%= image_tag('roxaslogo.jpg',class:"aboutprofilepicture")%></div>
		<div class="aboutgreeting"><h3>Aloha.</h3></div>
		<div class="aboutdescription"><h4>I'm a junior full-stack web developer </br> based in PJ. I have a passion in web development </br> and love to create for web and mobile devices.</h4></div>
	</div>
</div>

<div class="row skill">
	<div class="container">
		<div class="skillheader"><h1>What I can do.</h1></div>

		<div>
			<div class="skillcontent">
				<div class="col-md-6 skillcontentleft">
					<div class="col-md-7">
						<div class="animation"></div>
					</div>
					<div class="col-md-5">
						<div class="dotstyle"><%= image_tag('dots.png',class:"dotsize")%> <%= image_tag('dots.png',class:"dotsize")%></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="skillwhaticandoheader"><h3>Front-end Design</h3></div>
					<div class="skillwhaticandodescription"><h4>Design webpage using HTML/CSS/JS.</br>Combine minimalist design, typography</br>and content to convey the message</br>that client want.</h4></div>
				</div>
			</div>
		</div>

		<div>
			<div class="developcontent">
				<div class="col-md-6">
					<div class="developheader"><h3>Develop in Ruby-on-Rails</h3></div>
					<div class="developdescription"><h4>Develop web app in Ruby on Rails framework with PostgreSQL database.</h4></div>
				</div>
				<div class="col-md-6 developcontentright">
					<div class="col-md-5">
						<div class="seconddotstyle"><%= image_tag('dots.png',class:"dotsize")%> <%= image_tag('dots.png',class:"dotsize")%></div>
					</div>
					<div class="col-md-7">
						<div class="animation1"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="contactsection">
			<div class="contactheader"><h1>Contact Me.</h1></div>
			<div class="contactsmallheader"><h4>I'm currently available for any web developer job position</h4></div>
			<div class="contactdescription"><h4>If you have a project or web developer related job position, please feel free</br> to click on any social link below to reach out for me.</br>  I am open up to any job opportunity.</h4></div>
		</div>

	</div>
</div>
